.filter-comp {
    background-color: white;
}

.wrapper {
   display: grid;
   grid-template-columns: 1fr 1fr;
}
  
.item {
    box-sizing: border-box;
    max-width: 50%;
    cursor: pointer;
    border-radius: 6px;
}

.bott {
    background-color: rgb(244, 255, 221);
    text-align: center;
}
/* .bott {
    margin-top: 15px;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    color: rgb(238, 255, 204) !important;
    font-size: 16px;
    cursor: pointer;
} */
 .item:hover {
    background-color: yellowgreen;
 }