.products {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  .product-card {
    flex: 1 16%;
}
@media (max-width: 1440px) {
    .product-card {
      flex: 1 20%;
    }
}
@media (min-width: 700) and (max-width: 1024px) {
    .product-card {
        flex: 1 33%;
      }
}
@media (max-width: 700px) {
    .product-card {
        flex: 1 48%;
      }
}